<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/home1.css">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/home.css"> -->
    <link rel="stylesheet" href="/css/home2.css">
     
    <title>Covid Manager</title>
    <link rel = "icon" href = "" type = "image/x-icon">
</head>

<body>

    <nav id="mainnav" class="navbar navbar-fixed-top navbar-dark navbar-expand-md col-12 ">
        <a class="navbar-brand" href="/">
            <div class="logo-image">
                <img src="/images/CM LOGO.png" class="img-fluid">
            </div>
        </a>
        <button class="navbar-toggler " data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav ml-auto" style="font-family: montserrat;">
                <li class="nav-item">
                    <a href="#sec2" class="nav-link">Features</a>
                </li>
                <li class="nav-item">
                    <a href="#sec8" class="nav-link">Join us</a>
                </li>
                <li class="nav-item">
                    <a href="#sec9" class="nav-link">About us</a>
                </li>
            </ul>
        </div>
    </nav>
    </nav>
    <!-- Section 1-->
    <section id="sec1" class="container-fluid ">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mx-auto d-block"
                    style="font-family: Montserrat;font-weight:900; color: #ffffff;">WE ARE IN<br> THIS TOGETHER</h1>
                <p class="text-center mx-auto d-block mb-5 para">We cannot return what is already lost but
                     are here to take a step forward for a precautionary future.
                    Find all the information, resources and help you might need in 
                    case of a covid emergency here. </p>
               <a href="#sec6"> <button id="get-pass" type="button" class="btn btn-primary mx-auto d-block">CHECK VACCINATON STATUS</button> </a>
            </div>
            <div class="col-md-6 ">
                <img class="img-fluid d-block my-5  center-block" src="/images/CM LOGO.png" alt="" >
            </div>
        </div>
    </section>
    <!-- Section 2-->
    <section id="sec2" class="container-fluid full-height">
        <br>
        <br>
    
            
                <h1 class="text-center mx-auto d-block topic">FEATURES</h1>
                <div class="features_cards">
                        <a href="#sec4"><div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text"> Hospitals and <br> Beds</p>
                        </div>
                        <img class=" card-img-bottom  features_img" src="/images/hospital.svg">
                    </div></a>
        
                    <a href="#sec8">  <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text"> Food Delivery</p>
                        </div>
                        <img class=" card-img-bottom  features_img" src="/images/food.svg">
                    </div></a>
                    <a href="#sec5"> <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Medicinal Resources</p>
                        </div>
                        <img class=" card-img-bottom  features_img" src="/images/medicine.svg">
                    </div></a>
                    <a href="#sec3"><div class="card mx-auto d-block my-5" id="cards"
                    style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                    <div class="card-body">
                        <p class="card-text" style="color: #6892ea;" id="text">Vaccination Status
                        </p>
                    </div>
                    <img class=" card-img-bottom  features_img " src="/images/vaccine.svg">
                </div> </a>
            <a href="#sec7">  <div class="card mx-auto d-block my-5" id="cards"
                    style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                    <div class="card-body">
                        <p class="card-text" style="color: #6892ea;" id="text"> Home Remedies</p>
                    </div>
                    <img class=" card-img-bottom  features_img" src="/images/home.svg">
                </div></a>
    
                </div>
        
   </section>
    <!-- Section 3-->
    <section id="sec3" class="container-fluid">
        <div class="row align-items-center justify-content-center py-5
        ">
            <div class="card mx-auto d-block my-5 order-2 order-md-1" id="cards">
                
                <img class="img-fluid card-img-bottom" src="/images/graph2.png">
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <h1 class="text-center mx-auto d-block topic">CHECK VACCINATON STATUS</h1></a>
                <p class="text-center mx-auto d-block mb-5 paras">Click on the button to get all the information about active cases, 
                    recovered cases, deaths as well as vaccination rate .</p>
                    <a href="https://www.mygov.in/covid-19"> <button id="reg-now" type="button"
                        class="btn btn-outline d-grid gap-2 col-6 btn-sm mx-auto d-block"
                        > Click here<i
                            class="fa fa-long-arrow-right"></i></button> </a>

            </div>
        </div>
        <!--section 3-->
    </section>
    <!-- Section 4-->
    <section id="sec4" class="container-fluid" >
        <br>
        <br>
    
            
                <h1 class="text-center mx-auto d-block topic">HOSPITALS AND BEDS IN DELHI</h1>
                <br>
                <br>
                <br>
                <h3 class="text-center mx-auto d-block topic">COVID-19 BEDS</h3>
                <div class="features_cards">
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text"> Total</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Beds.Total %></div>
                        </div>
                
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Occupied</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Beds.Occupied %></div>
                        </div>
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Vacant</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Beds.Vacant %></div>
                      </div>
                </div>

                <br>
                <br>

   
                <h3 class="text-center mx-auto d-block topic">COVID-19 Oxygen Beds in Delhi</h3>
                <div class="features_cards">
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Total</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Oxygen.Total%></div>
                        </div>
                
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Occupied</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Oxygen.Occupied %></div>
                        </div>
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Vacant</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Oxygen.Vacant %></div>
                      </div>
                </div>

                <br>
                <br>

                <h3 class="text-center mx-auto d-block topic">COVID-19 ICU Beds in Delhi</h3>
                <div class="features_cards">
                    
                        <div class="card mx-auto my-5  d-block " id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Total</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.ICU.Total %></div>
                        </div>
                
                        <div class="card mx-auto my-5  d-block " id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Occupied</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.ICU.Occupied %></div>
                        </div>
                    
                        <div class="card  mx-auto my-5  d-block" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Vacant</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.ICU.Vacant %></div>
                      </div>
                </div>

                <br>
               

                <h3 class="text-center mx-auto d-block topic">COVID-19 ICU Beds with Ventilators in Delhi</h3>
                <div class="features_cards">
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Total</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Ventilator.Total %></div>
                        </div>
                
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text">Occupied</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Ventilator.Occupied %></div>
                        </div>
                    
                        <div class="card mx-auto d-block my-5" id="cards"
                        style="background: linear-gradient(180deg, #DFEAFF 0%, #A8C4FE 100%); width: 11rem; height: 13rem;">
                        <div class="card-body">
                            <p class="card-text" style="color: #6892ea;" id="text"> Vacant</p>
                        </div>
                        <hr class="solid">
                        <div class="card-body"><%= BedList.Ventilator.Vacant %></div>
                      </div>
                </div>       
        
    </section>
    <!-- Section 5-->
    <section id="sec5" class="container-fluid">
        <div class="col align-items-center justify-content-center py-3">
            <div class="row-lg-6">
                <h1 class="text-center mx-auto d-block topic pt-5">MEDICATION</h1>
                
            </div>
            <section id="sec7-2" class="container-fluid ">
                <div class="row align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="text-center">Medicines/Drugs</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Acetaminophen (Tylenol)</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para"> Acetaminophen, also called paracetamol or Tylenol, helps to reduce fevers and can definitely
                             help manage muscle pain and body aches associated with COVID-19.
                             Acetaminophen doesn’t treat the virus itself, nor does it reduce the duration of your illness. </p>

                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Ibuprofen</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para"> Ibuprofen is a nonsteroidal anti-inflammatory drug (NSAID). It works by reducing 
                            hormones that cause inflammation and pain in the body.Ibuprofen is used to reduce fever and treat pain or
                             inflammation caused by covid.</p>

                    </div>
                    <div class="col-lg-4">
                        <h1 class="text-center">Neseccary Checks</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Oxygenation</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">The optimal oxygen saturation (SpO2) in adults with COVID-19 who are receiving 
                            supplemental oxygen is uncertain. However, a target SpO2 of 92% to 96% seems logical, considering that indirect evidence from patients without COVID-19 
                            suggests that an SpO2 less than 92% or more than 96% may be harmful. </p>

                        <h1 class="text-center mx-auto d-block sec7-head ">Temperature</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">Generally, 100.4°F is used to say whether or not someone has fever.If the temperature rises above 104,
                             it can be concerning and one should visit the hospital or consult a doctor immediately.</p>

                    </div>
                    <div class="col-lg-4">
                        <h1 class="text-center ">Injection</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Remdesivir</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">Remdesivir injection is used to treat coronavirus disease 2019 (COVID-19 infection) caused by the SARS-CoV-2 virus in hospitalized adults and children 12 years of age and older who weigh at least 88 pounds (40 kg). Remdesivir is in a class of medications called antivirals. 
                            It works by stopping the virus from spreading in the body </p>

                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Tocilizumab </h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">In hospitalized patients with Covid-19 pneumonia who were not receiving mechanical 
                            ventilation, tocilizumab reduced the likelihood of progression to the composite outcome of mechanical ventilation or death,
                             but it did not improve survival.No new safety signals were identified. </p>
                    </div>
                </div>
            </section>

        </div>
       
    </section>
    <!-- Section 6-->
    <section id="sec6" class="container-fluid">
        <div class="row align-items-center justify-content-center py-5">
            <div class="col-md-6 order-1 order-md-2">
               
                <h1 class="text-center mx-auto d-block topic">ORDER FOOD WITH US</h1>
               <% if(orgs.length > 0){%> 
                    <% for(let i=0;i<orgs.length && i<6 ;i++){ %>
                    <a href="/wip"> <button id="reg-now" type="button"
                            class="btn btn-outline-dark d-grid gap-2 col-6 btn-sm mx-auto d-block"
                            style="color: #DE6E6F; border: 1px solid #DE6E6F;"><%= orgs[i].Name %> <i
                                class="fa fa-long-arrow-right"></i></button> </a>
                    <% } %>
                    <a href="/organisations-list"> <button id="reg-now" type="button"
                        class="btn btn-outline-dark d-grid gap-2 col-6 btn-sm mx-auto d-block"
                        style="color: #f04e4e; border: 1px solid #DE6E6F;">See complete list <i
                            class="fa fa-long-arrow-right"></i></button> </a>
                <% }else{ %>
                    <a href="/wip"> <button id="reg-now" type="button"
                        class="btn btn-outline-dark d-grid gap-2 col-6 btn-sm mx-auto d-block"
                        style="color: black; border: 1px solid #DE6E6F;">No Organisations yet!!<i
                            class="fa fa-long-arrow-right"></i></button> </a>

                <% } %>
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <!-- <img class=" card-img-bottom  features_img food_size" src="/images/food.svg"> -->
                <br>
                <h1 class="text-center mx-auto d-block topic">FOOD DELIVERY</h1>
                <p class="text-center mx-auto d-block mb-5 paras">Join Us for Food Delivery <br>for the COVID Patients and their Family</p>
                <a href="#sec8"> <button id="reg-now" type="button"
                        class="btn btn-outline-dark d-grid gap-2 col-6 btn-sm mx-auto d-block"
                        style="color: #DE6E6F; border: 1px solid #DE6E6F;">JOIN US <i
                            class="fa fa-long-arrow-right"></i></button> </a>

            </div>
        </div>

        <!--section 7-->
    </section>
    <!--Section 7-->
    <section id="sec7" class="container-fluid">
        <div class="col align-items-center justify-content-center py-3">
            <div class="row-lg-6">
                <h1 class="text-center mx-auto d-block topic pt-5">HOME REMEDIES</h1>
                
            </div>
            <section id="sec7-2" class="container-fluid ">
                <div class="row align-items-center ">
                    <div class="col-lg-4">
                        <h1 class="text-center">Breath shortness</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Try relaxation or meditation techniques</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">  These will help calm the body and get your breathing more regular. 
                            Additionally, having shortness of breath may leave you feeling anxious.
                             These relaxation techniques will help fight the anxiety. </p>

                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Take slow breaths</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para"> Slowing things down can help you 
                            start breathing again properly Pay attention to how your chest feels and what symptoms your inhaler was prescribed for. 
                            Do not use someone else's inhaler – only use one that is prescribed to you. 
                            Make sure you disinfect the mouthpiece after every use.</p>

                    </div>
                    <div class="col-lg-4">
                        <h1 class="text-center">Cough</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Sip on drinks throughout the day.</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">Not only will this keep your throat moist and comfortable,
                             it will help keep you hydrated.These heat up the airways, keep you hydrated and break up 
                             any mucus you might have in your throat and upper airwa </p>

                        <h1 class="text-center mx-auto d-block sec7-head ">Gargle salt water</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">While it is not scientifically proven to help, many people swear that salt water helps their sore throat. 
                            There is no harm in trying, and it might help you. Use 1 teaspoon of salt in 8 ounces of warm water. 
                            Make sure you spit it out and disinfect the sink afterward.</p>

                    </div>
                    <div class="col-lg-4">
                        <h1 class="text-center ">Fever</h1>
                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Take a fever reducer</h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para"> If you choose to or if your fever is very high, you can take a fever reducer.
                             Acetaminophen is what is usually recommended. While ibuprofen is also a fever reducer, 
                             there is some concern that it may not be safe to take with the novel coronavirus. </p>

                        <h1 class="text-center mx-auto d-block sec7-head mt-5">Stay hydrated
                        </h1>
                        <p class="text-center mx-auto d-block mb-5 sec7-para">Fevers usually cause sweating, which means loss of water from your body.
                             Drink lots of fluids (preferably water or juice and not soda 
                             or high sugar beverages that might make you thirstier) </p>
                    </div>
                </div>
            </section>

        </div>
    </section>

    <!--section 8-->
    </section>
    <section id="sec8" class="container-fluid">

        <h1 class="text-center mx-auto d-block pt-5"
            style="color: #ffffff; font-family: Montserrat; font-weight: bold;">Register For Food Delivery Service </h1>
        <p class="text-center mx-auto d-block mb-4" style="color: #ffffff; font-family: Montserrat;">Let Us Help Others</p>
        <div class="col-12"
            style="display: flex; justify-content: center; flex-direction: column; align-items: center; padding: 0;">
            <div class="text-center" id="formBody">
                <form class="formMain" action="/new-partner" method="post">
                    <div class="form-group ">
                        <input name="Name" type="text" class="form-control" id="inputEmail" placeholder="Organisation Name">
                    </div>
                    <div class="form-group ">
                        <input name="Address" type="text" class="form-control" id="inputEmail" placeholder="Organisation Address">
                    </div>
                    <div class="form-group ">
                        <input name="Email" type="email" class="form-control" id="inputEmail" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input name="Num" type="tel" class="form-control" placeholder="Mobile number">
                    </div>

                    <div id="terms">
                        <p>*By clicking Sign Up, <a href="/wip"> you agree to our Terms,<br> Privacy Policy and Platform
                                Guidelines. </a></p>
                    </div>
                    <button type="submit" class="btn btn-success" id="sign-up-button">Register</button>
                    <div id="club">
                        <p>Have an account log in <a href="/wip">Renown.club</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
 <!-- Section 9-->
 <section id="sec9" class="container-fluid ">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mx-auto d-block"
                style="font-family: Montserrat;font-weight:900; color: #000;">OUR OBJECTIVE</h1>
            <p class="text-center mx-auto d-block mb-5 para9">We as young engineers aim to come together and build a platform to 
                help people during difficult times of covid. Our aim is to provide accurate data and information to everyone.As a human instinct that teaches us to
                learn from the past mistakes and take a step to make efforts in order to avoid the
                same mistake in future, we decided to come up with a covid management website. </p>
        </div>
        <div class="col-md-6 ">
            <img class="img-fluid d-block my-5  center-block" src="/images/us.png" alt="" >
        </div>
    </div>
</section>
       
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="/js/index.js" ></script>
    <script src="/js/Delhi.js"></script>
    <script src="/js/temp.js"></script>
</body>

</html>